<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc"     
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd   
        http://www.springframework.org/schema/mvc    
        http://www.springframework.org/schema/mvc/spring-mvc.xsd    
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
        <!-- 开启注解扫描包 剔除controller扫描-->
        <context:component-scan base-package="com.gg.ssm.*" >
        	<!-- 过滤掉控制层的注解 -->
        	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        </context:component-scan>
        
        <!-- 配置 sqlSessionFactory -->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<!-- 依赖关系  数据源和mybatis配置 -->
        	<property name="dataSource" ref="dataSource"></property>
        	<property name="configLocation" value="classpath:mybatis-cfg.xml"></property>
        </bean>
        
        <!-- spring加载jdbc属性文件 -->
        <context:property-placeholder location="classpath:jdbc.properties"/>
        <!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"></bean> -->
        <!-- 数据源的配置 -->
        <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        	<!-- 数据库的四要素  driver  url  username   password-->
        	<property name="driverClassName" value="${jdbc.driverClass}"></property>
        	<property name="url" value="${jdbc.url}"></property>
        	<property name="username" value="${jdbc.username}"></property>
        	<property name="password" value="${jdbc.password}"></property>
        </bean>
        
        <!-- 事务的配置 -->
        <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        	<property name="dataSource" ref="dataSource"></property>
        </bean>
        
        <!-- 开启事务注解驱动 -->
        <tx:annotation-driven transaction-manager="transactionManager"/>
        
        <!-- mapper 代理 -->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        	<property name="basePackage" value="com.gg.ssm.mapper"></property>
        	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        </bean>
</beans>