/* login S */
*{margin: 0;padding: 0;}
html,body{width:100%;height: 100%;background: url("../img/logibg.jpg");background-size: cover;overflow: hidden;}
#login{margin: 150px auto 0 auto;min-height: 420px;max-width: 420px;padding: 40px;background-color: #ffffff;margin-left: auto;margin-right: auto;border-radius: 4px;box-sizing: border-box;}
#login .message{margin: 10px 0 0 -58px;padding: 18px 10px 18px 60px;background: #27A9E3;position: relative;color: #fff;font-size: 16px;}
#login #darkbannerwrap{background:url("../img/aiwrap.png");width: 18px;height: 10px;margin: 0 0 20px -58px;position: relative;}
#login input[type=text], input[type=file], input[type=password], input[type=email], select{border: 1px solid #DCDEE0;vertical-align: middle;border-radius: 3px;height: 50px;text-indent:1em;font-size: 14px;color: #666;outline: none;width: 100%;}
#login hr.hr15,hr.hr20{height: 15px;border: none;margin: 0px;padding: 0px;width: 100%;}
#login hr.hr20{height: 20px;}
#login #submit{display: inline-block;vertical-align: middle;padding: 12px 24px;margin: 0px;font-size: 18px;line-height: 24px;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;color: #ffffff;background-color: #27A9E3;border-radius: 3px;border: none;-webkit-appearance: none;outline: none;width: 87%;text-decoration:none;}
#login .error{width:100%;height:30px;line-height:30px;text-align:center;color:#f00;}
/* E login */